<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SkoocApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FAF89EC3A4232E6BFC59EF248ABC369F9DB71057</string>
				<key>dateExpires</key>
				<string>3/7/22</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>MXW272A2Y8.com.relia.skooc</string>
				<key>com.apple.developer.team-identifier</key>
				<string>MXW272A2Y8</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>MXW272A2Y8.com.relia.skooc</string>
				</array>
			</dict>
			<key>name</key>
			<string>skoocapp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>80d9df20-becf-4d09-9653-2b1131960071</string>
				<key>name</key>
				<string>skooc provision 3-7 enterprise</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>MXW272A2Y8</string>
				<key>name</key>
				<string>Independence Plus, Inc</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
